<div class="content-details">
  <div class="row">

    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
      <% if user_signed_in? %>
        <div class="row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <% if is_blocked == 0 %>
              <% if current_user.is_admin_for?(project) || current_user.is_lead_editor_for?(project) %>
                <%= link_to revisions_project_path(id: project.id), remote: true, class: "btn-root", id: "editSource" do %>
                  Revisions
                <% end %>
              <% else %>
                <a href="<%= mediawiki_api_base_url %>index.php?title=<%= URI.escape(project.wiki_page_name.gsub(' ', '_')) %>&useskin=weserve&veaction=edit&redirect=<%= URI.encode(taskstab_project_url(project.id)) %>" class="btn-root">
                  <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
                </a>
              <% end %>
            <% else %>
              <!-- TODO: for blocked users -->
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="row margin-none mb20">
          <div class="btn-edit-wrapper pull-right">
            <a id="sign_in_link" data-modal="#registerModal" class="btn-edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
            </a>
          </div>
        </div>
      <% end %>

      <div class="clearfix"></div>
      <div class="project-summary">
        <%= contents.html_safe %>
      </div>

      <div class="project-idea">
        <strong>Project Idea: &nbsp;&nbsp;</strong>
        <% if user_signed_in? && current_user.is_admin_for?(project) %>
          <%= best_in_place project, :short_description, :ok_button => "Save", :cancel_button => "Cancel", id: 'sd_pencil', :cancel_button_class => "pencil_cancel", activator: "#sd_pencil" %>
          <span id="str_length"></span>
        <% else %>
          <%= @project.short_description %>
        <% end %>
      </div>

    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
      <div class="tasks-summary">
        <div class="summary-header">
          <strong>Tasks</strong>
          <a href="javascript:void(0)" class="pull-right">View All</a>
        </div>

        <div id="tasks_cards">
          <% sourcing_tasks.first(5).each do |task| %>

              <%= link_to projects_show_task_path(id: task.id), class: 'summary-cards pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="card-wrapper">
                  <div class="card-title">
                    <p><%= task.description %></p>
                  </div>
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 pt15">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="<%= task.funded %>;">
                        </div>
                      </div>
                      <div class="report-banner-table tab-task-report mt10">
                        <table>
                          <tr class="value">
                            <td><%= task.funded %></td>
                            <!--<td><%#= @tasks_count %></td>-->
                            <td><%= task.number_of_participants %>/<%= task.target_number_of_participants %></td>
                            <td><%= task.funded_in_btc %></td>
                          </tr>
                          <tr class="items">
                            <td>Funded</td>
                            <!--<td>Tasks</td>-->
                            <td>Teammates</td>
                            <td>Raised</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="fund-do-btns">
                        <button class="btn-root _dark" type="button" title="DO" onclick="doPopup(<%= task.id %>)" data-modal="#taskDoModal">DO</button>
                        <button class="btn-root" type="button" title="FUND" onclick="fundPopup(<%= task.id %>)" id="<%= task.id %>" data-modal="#taskFundModal">FUND</button>
                      </div>
                    </div>
                  </div>

                </div>
              <%end %>
          <% end %>
        </div>

      </div>
    </div>

    <div class="requests col-md-7">
      <% if current_user && current_user.is_admin_for?(project) %>
        <% apply_requests.find_each do |apply| %>
          <%= apply.user_name %> sent you <%= apply.request_type %> Request
          <%= link_to "Accept", accept_apply_request_path(apply), method: :post %>
          <%= link_to "Reject", reject_apply_request_path(apply), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.best_in_place').best_in_place();
  })
</script>
