<script>
  $(document).ready(function () {
    $("#user-search").click(function () {
      $("#display-user").toggle();
    });
  });
</script>
<div class="row group-messages-wrapper margin-none">
  <div class="col-lg-4 col-md-4 col-sm-4 group-messages-nav" id="messages-nav">
    <div class="messages-nav-title">
      Team Messages
    </div>
    <div class="messages-menu">
      <div class="messages-submenu">
        <!-- <div class="submenu-title">
          <% current_user_projects = @user_projects rescue nil %>
          <span class="menu-subtitle">PROJECTS (<%= @user_projects.count rescue 0 %>)</span>
        </div> -->
        <ul>
          <% unless @user_projects.blank? %>
              <% @user_projects.each.with_index do |project, index| %>
                  <% if index == 0 %>
                      <li>
                        <a href="#" class="projects-chat" id="<%= project.id %>"><%= project.try(:title) %></a>
                      </li>
                  <% else %>
                      <li><a href="#" class="projects-chat" id="<%= project.id %>"><%= project.try(:title) %></a></li>
                  <% end %>
              <% end %>
          <% end %>
        </ul>
      </div>
      <div class="messages-submenu" id="chatrooms_id">
        <div class="submenu-title">
          <span class="menu-subtitle">DIRECT MESSAGES</span>
        </div>
        <ul class="circle" id="project-team-members">
          <%= render 'group_messages/project_team' %>
        </ul>
        <div class="submenu-title">
          <span class="menu-subtitle">Message Other Than Team</span>
          <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
        </div>
        <ul class="circle" id="project-team-members">
          <%= render 'group_messages/one_to_one_members' %>
        </ul>
      </div>
      <div class="search-users" id="user-search">
        <span data-toggle="modal" data-target="#searchUser"><i class="fa fa-plus"></i>&nbsp;&nbsp;Search for user</span>
      </div>
      <div id="display-user" class="display-none">
        <%= form_tag(group_messages_search_user_path, :method => "get", remote: true, id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Find or Start a conversation", data: {autocomplete: autocomplete_user_name_group_messages_path, :id_element => '#some_element'} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 group-messages-content" id="page-message-content">
    <div id="chat-name">
      <%= render partial: 'group_messages/chatroom_info', locals: {chat_id: @chatroom} %>
    </div>
    <div id="messages">
      <%= render 'group_messages/all_messages' %>
    </div>
    <div id='message-form-div'>
      <% unless @chatroom.blank? %>
          <%= render 'group_messages/form' %>
      <% else %>
          <div> you are not member of any chat room</div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  function load_messages() {
    var chatroom_id = $("#group_message_chatroom_id").val();
    if (chatroom_id != undefined) {
      $.ajax({
        url: "/group_messages/load_group_messages",
        type: "post",
        data: {id: chatroom_id},
        success: function () {
          $('#messages').scrollTop(1E10)
        }
      });
    }
  }
  $(document).ready(function () {
    $.ajaxSetup({cache: false});
    window.setInterval(function () {
      load_messages();
    }, 5000);
    $(".projects-chat").click(function () {
      project_id = $(this).attr('id')
      $("div#message-load-image").show();
      callAjax(project_id);
    });
    function callAjax(project_id) {
      $.ajax({
        url: "/group_messages/get_messages_by_room",
        type: "post",
        data: {id: project_id},
        success: function () {
        }
      });
    }
  });
  $('#search').bind('railsAutocomplete.select', function (event, data) {
    if (data.item.id != '')
      window.location.href = '/group_messages/user_messaging?user_id=' + data.item.id
  });
</script>
