
<div id="editProjectModal" class="modal fade edit-project-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" id="project_content">

      <div class="modal-body">
        <button type="button" class="close-modal" data-dismiss="modal">&times;</button>
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-custom">
            <div class="project-content-wrapper">
              <div class="content-header">
                <h4>
                  <% if (current_user && current_user.id == @project.user_id) %>
                    <%= best_in_place @project, :title, :as => :textarea, activator: '#edit-project-pencil', cancel_button: "Cancel", cancel_button_class: "btn btn-default button-margin-right", ok_button: "Save", ok_button_class: "btn btn-default button-margin-right" %>
                    <a id="edit-project-pencil" href="#" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></a>
                  <% else %>
                    <%= @project.title %>
                  <% end %>
                </h4>
                <a class="pull-right" id='textarea-save' style='display: none;'><i class="fa fa-pencil"  aria-hidden="true"></i> &nbsp;Save</a>
                <a class="pull-right" id='textarea-edit'><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Suggest Edit</a>
                <a href="" class="pull-right" id='visual-edit'><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Visual Edit</a>
              </div>
              <div class="content-section">
                <%= @contents.html_safe %>
              </div>
              <textarea id='textarea-editor' rows='20' style='display: none'></textarea>
              <div class>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-custom">
            <div class="project-comment-wrapper">
              <div class="comment-header">
                <h4>Suggested Editions</h4>
              </div>
              <div class="comment-section">
                <div class="comment-card">
                  <div class="card-mark">
                    <a href="javascript:void(0)"><i class="fa fa-commenting" aria-hidden="true"></i></a>
                  </div>

                  <div class="card-box">
                    <div class="name-date">
                      <h6>Caju Costa...</h6>
                      <span>12:00 am Today</span>
                    </div>
                    <div class="card-actions pull-right">
                      <ul>
                        <li>
                          <a href="javascript:void(0)" class="success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" class="danger">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" class="suspend">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-text">
                      <span>ADD: &nbsp;</span>
                      <span>"tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nos.d exerci tation"</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-default modal-edit-img" id="project-img-edit" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h3 class="modal-default__title">Edit Project Image</h3>

        <%= form_for @project do |f| %>
            <div class="cropbox-wrap">
              <%= f.cropbox :picture %>
            </div>
            <%= f.file_field :picture, class: 'btn-upload', onchange: "previewProjectImage(this);"%>
            <button class="btn-root" name="commit" data-dismiss="modal">Save Changes</button>
            <button type="button" class="btn-root _dark" data-modal-close>Cancel</button>
        <% end %>
    </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#project_content').slimScroll({
      height: '600px'
    });
  });

  $(".project-content-wrapper h4").hover(
    function() {
      $("#edit-project-pencil").show();
    },
    function() {
      $("#edit-project-pencil").hide();
    }
  );

  $("#textarea-save").click(function() {
    $.ajax({
      type: "GET",
      url: "/projects/<%= @project.id %>/write_to_mediawiki",
      data: {"data": $("#textarea-editor").val()},
      dataType: "script"
    });
  });

  $("#textarea-edit").click(function() {
    $.ajax({
      type: "GET",
      url: "/projects/<%= @project.id %>/read_from_mediawiki",
      dataType: "script"
    });
  });

  function previewProjectImage(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#project_picture_cropbox').attr('src', e.target.result);
        $('.jcrop-holder img').attr('src', e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
