<div id="startProjectModal" class="modal-default modal-start-project" role="dialog" tabindex="-1">
  <div class="modal-default__content">
    <div class="remove">
      <div id="project-success" style="display: none;">
        <%= image_tag("loading.gif", :alt => "rss feed") %>
      </div>

      <div class="modal-header">
        <button type="button" class="modal-default__close"></button>
        <h3 class="modal-default__title">Start New Project</h3>
      </div>
      <div class="modal-body">
        <div id="project-status" class="alert alert-danger" style="display: none"></div>

        <%= simple_form_for(Project.new, html: {id: 'project-form', multipart: true, class: 'f-start-project f-default'}) do |f| %>
          <%= f.error_notification %>

          <div class="f-default__row">
            <%= f.label :title, "Title", error: 'Username is mandatory, please specify one', class: 'f-default__label' %>
            <%= f.text_field :title, class: 'form-control', id: 'title-field', required: true %>
          </div>

          <div class="f-default__row">
            <%= f.label :short_description, "Idea", error: 'Username is mandatory, please specify one', class: 'f-default__label' %>
            <%= f.text_area :short_description, size: "15x5", id: 'description-field', class: 'form-control', required: true %>
          </div>

          <div class="f-default__row _location">
            <%= f.label :country, "Location (Where is project located?)", class: 'f-default__label' %>
            <%= f.text_field :country, id: 'country-field', class: 'f-default__field _country-field', required: true %>
            <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
            </svg>
          </div>

          <div class="f-default__row">
            <%= f.label :Project_Image, "Project Image", class: 'f-default__label' %>
            <%= f.file_field :picture, required: true, id: 'upload_button', class: 'btn-upload' %>
          </div>

          <div class="f-start-project__submit-row">
            <%= f.button :submit, class: "btn btn-primary normal-button", id: 'project-form-id' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var $document = $(document);

  function restoreStartProjectForm() {
    $('#project-status').hide();
    $('#project-status').empty();
    $("#title-field").val("");
    $("#description-field").val("");
  }

  $document.ready(function () {
    $document
        .on('click.closeStartProjectModalByBtn', '#startProjectModal .modal-default__close', function () {
            restoreStartProjectForm();
        })
        .on('click.closeStartProjectModalByBtn', '#startProjectModal', function (e) {
            if (e.target === this) restoreStartProjectForm();
        })
        .on('keydown.restoreStartProjectForm', function (e) {
            if (e.keyCode == 27) {
                restoreStartProjectForm();
            }
        })
        .on('submit.projectForm', '#project-form', function () {
            $("#project-form-id").attr("disabled", true);
            $('#project-status').html('');
            $('#project-status').hide();
            $('#project-success').show();
            localStorage.setItem("invite_people", true);
            event.preventDefault();
            $.ajax({
              url: $(this).attr('action'),
              type: "POST",
              dataType: "JSON",
              data: new FormData(this),
              processData: false,
              contentType: false,
            }).always(function (response) {
              $('#project-status').html("");
              $('#project-success').hide();
              $("#project-form-id").attr("disabled", false);
              $('#project-status').show();
              $('#project-status').html(response.responseText);
              if (response.status == 200) {
                $('#project-status').removeClass('alert-danger');
                $('#project-status').addClass('alert-success');
                $('#project-status').html(response.responseText + ". Redirecting  ...");
                $('#project-success').show();
                setTimeout(function () {}, 4000);
                window.location.href = "/projects/" + response.id + "/taskstab";
              }
              console.log(response);
            });
            return false;
        });

    $('#country-field').geocomplete();
  });
</script>
