<div class="col-lg-3 col-md-3 col-sm-3" id="team-member-<%= team_membership.id %>">
  <div class="member-box" >
    <% if user_signed_in? %>
      <% if current_user.id == @project.user_id || (@project.user_id != current_user.id  && team_membership.role == 1 )%>
        <%# if can? :delete, team_membership%>
         <a href="#" type="button" class="delete-member" team-membership-id="<%= team_membership.id %>" title="Delete team member">&times;</a>
        <% end %>
    <% end %>

    <center class="member-img-wrapper">
      <div class="member-img">
        <% if team_membership.team_member.picture? %>
          <%= image_tag(team_membership.team_member.picture, size: "35x35") %>
        <% else %>
          <%= gravatar_for(team_membership.team_member, 35)%>
        <%end%>
      </div>
    </center>

    <center class="member-name">
      <h5><%= link_to team_membership.team_member.name, user_path(team_membership.team_member) %></h5>
    </center>

    <center class="member-role">
      <h5>
        <% if (can? :update, team_membership) && !(team_membership.team_member.is_project_leader? @project) %>
          <span class="role">
            <%= best_in_place team_membership, :role, :as => :select, :collection => TeamMembership.get_roles , activator: ".role-edit-pencil-#{team_membership.id}", class: "role_in_place-#{team_membership.id}" %>
          </span>
          <span><i class="fa fa-pencil role-edit-pencil-<%=team_membership.id%>"></i></span>
        <% else %>
          <span class="role">
            <%= team_membership.role.humanize %>
          </span>
        <% end %>
      </h5>
    </center>
    <div class="member-bio">
      <%= team_membership.team_member.try(:bio)[0..80] rescue nil %>&nbsp;<%= link_to "[...]", user_path(team_membership.team_member) %>
    </div>
  </div>
</div>

<script>
  $(".role_in_place-<%=team_membership.id%>.best_in_place").best_in_place();
  $(".role-edit-pencil-<%=team_membership.id%>").click(toggleRoleEditPencil);
  $(".role_in_place-<%=team_membership.id%>").change(toggleRoleEditPencil);
  function toggleRoleEditPencil(){
    $(".role-edit-pencil-<%=team_membership.id%>").toggle();
  }
</script>

