<!--<section  class='welcome-banner'>-->

<div class='welcome-banner'>
  <div class="project_picture">
    <%= image_tag(@project.picture, data: { 'object-fit': "cover" } ) %>
    <% if user_signed_in? && current_user.id == @project.user_id %>
      <a class="btn-edit btn-edit-image" onclick="projectImgEdit();"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Project Image</a>
    <% end %>
  </div>
  <div class="welcome-banner__content">
    <div class="row">
      <div class="b-project-info">
        <div class="b-project-info__wrapper">
            <div class="b-project-info__user">
              <div class="b-project-info__user-avatar">
                <% if @project.user.picture? %>
                  <%= image_tag(@project.user.picture, size: "36x36") %>
                <% else %>
                <%= gravatar_for_user(@project.user) %>
                <% end %>
              </div>
              <p class="b-project-info__user-name">
                <span>by <%= @project.user.name %></span>
              </p>

            </div>
            <div class="b-project-info__title">
              <%= best_in_place_if user_signed_in? && current_user.is_admin_for?(@project), @project, :title, :ok_button => "Save", :cancel_button => "Cancel", :activator => '#title-pencil' %>
              <% if user_signed_in? && current_user.is_admin_for?(@project) %>
              <span class="btn-edit glyphicon glyphicon-pencil" aria-hidden="true" id="title-pencil"></span>
              <% end %>
            </div>
            <a class="b-project-info__city">
              <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
              </svg>
              <%= best_in_place_if user_signed_in? && current_user.is_admin_for?(@project), @project, :country, :ok_button => "Save", :cancel_button => "Cancel", :activator => '#country-pencil' %>
              <% if user_signed_in? && current_user.is_admin_for?(@project) %>
              <%#= @project.country %>
              <span class="btn-edit glyphicon glyphicon-pencil" aria-hidden="true" id="country-pencil"></span>
              <% end %>
            </a>

            <script type="text/javascript">
              $(function () {
                var $bProjectInfo = $('.b-project-info');
                $bProjectInfo
                  .on('click.addEditClass', '.btn-edit', function () {
                    $bProjectInfo.find('input[type="text"]').prop('required', true);
                    $(this).parent().toggleClass('_open-edit-form').parents('.b-project-info').addClass('_form-opened');
                    var $buttons = $bProjectInfo.find('[type="submit"],[type="button"]');
                    var $input_country = $bProjectInfo.find('input[name=country]');
                    $input_country.geocomplete();
                    $buttons.on('click.removeEditClass', function () {
                      $('._open-edit-form').removeClass('_open-edit-form').parents('.b-project-info').removeClass('_form-opened');
                      $buttons.off('click.removeEditClass');
                    });
                  });
              });
            </script>
          </div>
      </div>
    </div>

    <div class="row">
      <center>
        <div class="task-progress-wrapper">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@sourcing_tasks.count / @projec_conut ) * 100 rescue 0 %> %">
            </div>
          </div>

          <table>
            <tr class="value">
              <td><%= (@sourcing_tasks.count / @tasks_count)*100 rescue 0 %> %</td>
              <!--<td><%#= @done_tasks.to_s + "/" + @tasks_count.to_s %></td>-->
              <td>
                <%= @project.team_relations_string %>
              </td>
              <td>฿ <%= @project.funded_budget %></td>
            </tr>
            <tr class="items">
              <td>Funded</td>
              <!--<td>Completed Tasks</td>-->
              <td>Teammates</td>
              <td>Raised</td>
            </tr>
          </table>
        </div>
      </center>
    </div>

    <div class="row">
      <% if !user_signed_in? %>
          <center>
            <a class="button round get-invo-btn" data-modal="#projectSignupModal" }>Apply As Lead Editor</a>
            <a class="button round get-invo-btn" data-modal="#projectSignupModal">Apply As Executor</a>
          </center>
      <% elsif !current_user.is_admin_for?(@project) %>
          <center>
            <%= link_to "Apply As Lead Editor", get_in_projects_path(type: "1", id: @project.id), :class => "button round get-invo-btn", data: {confirm: "Do you want to apply as Lead Editor?"} %>
            <%= link_to "Apply As Executor", get_in_projects_path(type: "2", id: @project.id), :class => "button round get-invo-btn", data: {confirm: "Do you want to apply as Executor?"} %>
          </center>
      <% end %>
    </div>

  </div>
</div>
</div>