
<div id="fund-transfer-wallet" class="reveal-modal" data-reveal aria-labelledby="inviteTitle" aria-hidden="true" role="dialog">
  <div>
    <a class="close-reveal-modal" aria-label="Close">&times;</a>
    <div class="fund-do">
      <div class="row">
        <center><h4 >Transfer BTC to Any Wallet</h4></center>
        <center>  <div style="background-color: red ;font-size: large ;margin:0 3%"  id="response-from-wallet"></div></center>
        <div class="large-1 medium-1 small-0 columns"></div>
        <%= form_tag("/user_wallet_transactions/create", method: "post" ,remote:true ) do %>
          <center>
            <div class="form-group" style="margin:0 3%">
              <label class="control-label" >Amount</label>
              <input type="text" id="wallet_transaction_amount" name="amount"  class="form-control" required="true" placeholder='Enter USD Amount to Send'/>
              <span id="wallet_btc"style="color: darkorange"></span>
            </div>
          </center>
          <center>
            <div class="form-group" style="margin:0 3%">
              <label class="control-label" >User Wallet</label>
              <input type="text" id="wallet_transaction_user_wallet" name="wallet_transaction_user_wallet"  required="true" class="form-control" placeholder='Please Enter Receiver Wallet Address' />
            </div>
          </center>
          <div class="form-group" style="margin:0 3%">
            <button type="submit" class="  btn btn-primary btn-danger" id="save-wallet-teansaction" style="margin: 10px" value="save">Save</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="profile-wrapper">
  <div class="profile-hero">
    <div class="profile-hero__img-wrapper">
      <%= image_tag(@user.projects.first.picture, data: { 'object-fit': "cover" }) if @user.projects.count != 0 %>
    </div>
    <div class="profile-hero__content">
      <div class="profile-hero__user-name-wrap">
        <div class="profile-hero__user-name">
          <% if (current_user && current_user.id == @user.id) %>
            <%= best_in_place @user, :name, :as => :input, activator: '#edit-profile-pencil', cancel_button: "Cancel", cancel_button_class: "btn btn-default button-margin-right", ok_button: "Save", ok_button_class: "btn btn-default button-margin-right" %>
            <a id="edit-profile-pencil" href="#" class="btn-edit glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></a>
          <% else %>
            <%= @user.name %>
          <% end %>
        </div>
      </div>

      <div class="profile-hero__user-location-wrap">
        <div class="profile-hero__user-location">
          <% if (current_user && current_user.id == @user.id) %>
            <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
            </svg>
            <%= best_in_place @user, :city, :as => :input, activator: '#edit-location-pencil', cancel_button: "Cancel", cancel_button_class: "btn btn-default button-margin-right", ok_button: "Save", ok_button_class: "btn btn-default button-margin-right" %>
            <a id="edit-location-pencil" href="javascript:void(0)" class="btn-edit glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></a>
          <% else %>
            <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
            </svg>&nbsp;&nbsp;<%= @user.city %>
          <% end %>
        </div>
      </div>

      <dl class="profile-hero__dl">
        <div class="profile-hero__dl-item">
          <dd class="profile-hero__dd"><%= @user.projects.count %></dd>
          <dt class="profile-hero__dt">Project</br>Leads</dt>
        </div>
        <div class="profile-hero__dl-item">
          <dd class="profile-hero__dd"><%= @user.completed_tasks_count %></dd>
          <dt class="profile-hero__dt">Completed</br>Tasks</dt>
        </div>
        <div class="profile-hero__dl-item">
          <dd class="profile-hero__dd"><%= @user.funded_projects_count %></dd>
          <dt class="profile-hero__dt">Projects</br>Funded</dt>
        </div>
      </dl>
    </div>

    <div class="profile-hero__user-portrait">
      <% if @user.picture? %>
        <%= image_tag(@user.picture) %>
      <% else %>
        <%= gravatar_for_user(@user)%>
      <%end%>

      <% if user_signed_in? && current_user.id == @user.id %>
        <a class="btn-edit btn-edit-image" onclick="profileImgEdit();"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit My Profile Image</a>
      <% end %>
    </div>

    <div class="profile-hero__user-trans-btns">
      <% if current_user && current_user.id == @user.id %>
        <a href="javascript:void(0)" class="profile-hero__btn" data-reveal-id="fund-transfer-wallet">
          <svg focusable="false" version="1.1" class="svg-bitcoin">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bitcoin"></use>
          </svg>Transfer coins
        </a>
      <%end %>
      <% if current_user && current_user.id != @user.id %>
        <a href="/group_messages/user_messaging?user_id=<%= @user.id %>" class="profile-hero__btn">
          <svg focusable="false" version="1.1" class="svg-envelope">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-envelope"></use>
          </svg>Message
        </a>
      <% end %>
    </div>
  </div>


  <script type="text/javascript">
    $(function () {

      var $profileHero = $('.profile-hero');
      $profileHero
        .on('click.addEditClass', '.btn-edit', function () {
          $(this).parent().toggleClass('_open-edit-form').parents('.profile-hero').addClass('_form-opened');
          var $buttons = $profileHero.find('[type="submit"],[type="button"]');
          $buttons.on('click.removeEditClass', function () {
            $('._open-edit-form').removeClass('_open-edit-form').parents('.profile-hero').removeClass('_form-opened');
            $buttons.off('click.removeEditClass');
          });
        })

    });
  </script>

  <div class="bio-wrapper">
    <h3 class="bio-header">
      BIO
      <% if (current_user && current_user.id == @user.id) %>
          <i class="fa fa-pencil" id="bio-edit-pencil"></i>
      <% end %>
    </h3>
    <p class="profile-bio">
      <%= best_in_place_if (current_user && current_user.id == @user.id), @user, :bio, :as => :textarea,
                           activator: '#bio-edit-pencil', cancel_button: "Cancel", cancel_button_class: "button",
                           ok_button: "Save", ok_button_class: "button ok-button"%>
    </p>
  </div>

  <div class="profile-projects">
    <div class="l-project-cards">
      <h3 class="l-project-cards__title">Projects</h3>
      <ul class="l-project-cards__list">
        <% @user.projects.each do |project| %>
          <li class="l-project-cards__item">
            <div class="b-project-card">

              <div class="b-project-card__top">
                <%= link_to taskstab_project_path(project), class: 'b-project-card__img-wrap' ,data: { no_turbolink: false } do%>
                  <%= image_tag(project.picture.url, data: { 'object-fit': "cover" }) %>
                <% end %>
                <div class="b-project-card__user-link">
                  <% if project.user.picture? %>
                    <%= image_tag(project.user.picture, size: "32x32") %>
                  <% else %>
                    <%= gravatar_for_user(project.user)%>
                  <%end%>
                  <%= link_to project.user.name, user_path(project.user)%>
                </div>

              </div>
              <div class="b-project-card__middle">
                <%= link_to project.title, taskstab_project_path(project), data: {no_turbolink: false}, class: "b-project-card__title" %>

                <div class="b-project-card__location">
                  <svg focusable="false" version="1.1" class="svg-marker" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-marker"></use>
                  </svg>
                  <%= project.country %>
                </div>

                <p class="b-project-card__description">
                  <%= project.short_description %>
                </p>
              </div>
              <div class="b-project-card__bottom">
                <div class="progress-banner">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentages %>">
                    </div>
                  </div>
                </div>

                <div class="progress-report">
                  <table>
                    <tr class="value">
                      <td><%= project.funded_percentages %></td>
                      <td><%= project.team_relations_string %></td>
                      <td><%= project.tasks_relations_string %></td>
                      <td>฿ <%= project.funded_budget %></td>
                    </tr>
                    <tr class="items">
                      <td>Funded</td>
                      <td>Team</td>
                      <td>Tasks</td>
                      <td>Raised</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div>

<%= render "profile_edit_dialog" %>

<script>

  <% if user_signed_in? && current_user.id == @user.id %>
    $('.profile-hero__user-portrait').addClass('_signed-in');
  <% end %>

  $('#wallet_transaction_amount').keypress(function(eve) {
    if(eve.which == 8 || eve.which == 0){
      return true;
    }
    if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57)) {
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";
      eve.preventDefault();
    }

    // this part is when left part of number is deleted and leaves a . in the leftmost position. For example, 33.25, then 33 is deleted
    $('#wallet_transaction_amount').keyup(function(eve) {
      if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
      }
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";

    });

  });

  $('#save-wallet-teansaction').click(function(){
    if ($("#wallet_transaction_user_wallet").val() != '' && $("#wallet_transaction_amount").val() != ''  ){
      $('#save-wallet-teansaction').disabled = true ;
      $('#response-from-wallet').html("");
      $('#response-from-wallet').html("Requesting ... please Wait ");}
  });

  $(".close-reveal-modal").click(function(){
    $('#response-from-wallet').html("");
  });

  function profileImgEdit(e) {
    $('#profile-img-edit').modal('show');
    if (!e) var e = window.event;
    e.cancelBubble = true;
    if (e.stopPropagation) e.stopPropagation();
  }

  function previewProfileImage(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#user_picture_cropbox').attr('src', e.target.result);
        $('.jcrop-holder img').attr('src', e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

</script>

