<div class="expanded margin-none dashboard-wrapper">
  <% if current_user %>
      <%= render 'layouts/sidebar_navigation' %>
  <% end %>

  <section class="s-wallet">
    <div class="container-own">
      <h1 class="s-wallet__title">My Wallet</h1>
      <div class="s-wallet__top-bar">
        <div class="s-wallet__top-bar-left">
          <h3 class="s-wallet__subtitle">Receive address</h3>
          <div class="s-wallet__btc-address"><%= @wallet_address.sender_address rescue 'Available Soon' %></div>
          <button class="s-wallet__qr">
            <div id="qrcode" class="s-wallet__qr-wrap"></div>
            <svg focusable="false" version="1.1" class="svg-qr">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-qr"></use>
            </svg>
            <script>
              $('#qrcode').qrcode("<%= @wallet_address.sender_address %>");
            </script>
            Show QR-Code
          </button> <!-- todo show qr code -->
        </div>
        <div class="s-wallet__top-bar-right">
          <div class="s-wallet__btc">
            <span class="s-wallet__value"><%= user_wallet_balance_btc (@wallet_address.current_balance) %></span> BTC
          </div>
          <div class="s-wallet__usd">
            $<span class="s-wallet__value"><%= user_wallet_balance_usd(@wallet_address.current_balance) %></span> USD
          </div>
        </div>
      </div>
      <div class="s-wallet__content _active">
        <div class="s-wallet__content-header">
          <h3 class="s-wallet__subtitle">Transactions</h3>
          <button class="btn-root js-toggle-content" type="button">Make a transaction</button>
        </div>
        <div class="s-wallet__content-main">
          <div class="t-transactions">
            <div class="t-transactions__row _head">
              <div class="t-transactions__th">Date</div>
              <div class="t-transactions__th">Description</div>
              <div class="t-transactions__th">Amount</div>
              <div class="t-transactions__th">Balance</div>
            </div>

            <% if @transactions['transactions'].present? %>
                <% @transactions['transactions'].each do |transaction| %>
                    <% transaction['entries'].each do |entry| %>
                        <div class="t-transactions__row">
                          <div class="t-transactions__td">
                            <% if entry['value'].to_f > 0.0 %>
                                <svg focusable="false" version="1.1" class="svg-arrow _in">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
                                </svg>
                                <%= DateTime.parse(transaction['date']).strftime('%b %d %Y, %I:%M %p') %>
                                </div>
                                <div class="t-transactions__td">Recieved From: <%= entry['account'] %></div>
                            <% else %>
                                <svg focusable="false" version="1.1" class="svg-arrow _out">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
                                </svg>
                                <%= DateTime.parse(transaction['date']).strftime('%b %d %Y, %I:%M %p') %>
                                </div>
                                <div class="t-transactions__td">Sent to: <%= entry['account'] %></div>
                            <% end %>

                            <div class="t-transactions__td _tar">
                              <div class="t-transactions__expense"><%= user_wallet_balance_btc(entry['value']) %></div>
                              <div class="t-transactions__value">$ <%= user_wallet_balance_usd(entry['value']) %></div>
                            </div>
                            <div class="t-transactions__td _tar">
                              <div class="t-transactions__balance"><%= user_wallet_balance_btc(entry['value']) %></div>
                            </div>
                            </div>
                    <% end %>
                <% end %>
            <% else %>
                No Transaction
            <% end %>

            </div>
      </div>
    </div>
    <div class="s-wallet__content">
      <button class="s-wallet__back js-toggle-content" type="button">< Transactions</button>
      <!--<form action="" class="f-transaction">-->
        <%= form_tag("/user_wallet_transactions/create", method: "post" ,class:"f-transaction" ) do %>

      <div class="f-transaction__title">Make a transaction</div>

        <div class="f-default__row">
          <label class="f-default__label">
            <span class="f-default__label-text">Bitcoin address or label</span>
            <!--<input type="text" class="f-default__field" required>-->
            <input type="text" id="wallet_transaction_user_wallet" name="wallet_transaction_user_wallet"  required="true" class="form-control" placeholder='Please Enter Receiver Wallet Address' />

          </label>
        </div>
        <div class="f-default__row">
          <label class="f-default__label _btc">
            <span class="f-default__label-text">Enter amount</span>
            <!--<input type="number" class="f-default__field numeric integer" required>-->
            <input type="number" id="wallet_transaction_amount" name="amount"  class="f-default__field numeric integer"  required="true" placeholder=''/>

            <div class="f-transaction__btc">BTC</div>
          </label>
          <div class="f-transaction__info">
            Availabel: <span class="js-btc-value"><%= user_wallet_balance_btc (@wallet_address.current_balance) %></span> BTC
          </div>
        </div>
        <div class="f-default__row">
          <label class="f-default__label">
            <span class="f-default__label-text">Optional internal memo</span>
            <input type="text" class="f-default__field">
          </label>
        </div>
        <button class="btn-root _dark">Send</button>
          <%end %>
      <!--</form>-->
    </div>
</div>
</section>
<script type="text/javascript">
  $(document).ready(function () {
    $('.js-toggle-content').on('click', function () {
      $(this).parents('.s-wallet__content').removeClass('_active').siblings('.s-wallet__content').addClass('_active');
    });
  });
</script>

</div>