<%= render 'modal/suggested_task_model' %>
<div class="trello-board">
  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Pending Approval
        </a>
      </div>

      <div class="section-content">
        <% @suggested_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <!--<td><%#= @tasks_count %></td>-->
                          <td><%= task.number_of_participants%> / <%= task.target_number_of_participants %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <!--<td>Tasks</td>-->
                          <td>Teammates </td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>
                    <div class="fund-do-btns">
                      <button type="button" title="FUND" class='btn-root' data-modal="#suggested_task_model_for_fund">FUND</button>
                      <button type="button" title="DO" class='btn-root _dark _do-model-popup' data-modal="#suggested_task_model_for_fund">DO</button>
                      <% if user_signed_in? %>
                          <% if @project.user_id == current_user.id || task.is_executer(current_user.id) %>
                              <object type="fake">
                                <%= link_to 'Delete', task, method: :delete, class: 'btn-root', data: {confirm: 'Are you sure?'}, title: "Delete" %></td>
                              </object>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
      <% if current_user && current_user.id != @project.user_id %>
          <div class="section-add-task">
            <a data-modal="#newTaskModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Suggest
              a Task</a>
          </div>
      <% end %>
    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Funding &amp; Sourcing
        </a>
      </div>

      <div class="section-content">
        <% @sourcing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <!--<td><%#= @tasks_count %></td>-->
                          <td><%= task.number_of_participants%> / <%= task.target_number_of_participants %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <!--<td>Tasks</td>-->
                          <td>Teammates</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>
                    <div class="fund-do-btns">
                      <button type="button" title="FUND" class='btn-root' onclick="fundPopup(<%= task.id %>)" id="<%= task.id %>" data-modal="#taskFundModal">FUND</button>
                      <button type="button" title="DO" class='btn-root _dark _do-model-popup' id="<%= task.id %>" onclick="doPopup(<%= task.id %>)" data-modal="#taskDoModal">DO</button>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

      <% if user_signed_in? %>
          <% if @project.user_id == current_user.id %>
              <div class="section-add-task">
                <a data-modal="#newTaskModal"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add a Task</a>
              </div>
          <% end %>
      <% end %>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Doing
        </a>
      </div>

      <div class="section-content">
        <% @doing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">
                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>
                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <!--<td><%#= @tasks_count %></td>-->
                          <td><%= task.number_of_participants%> / <%= task.target_number_of_participants %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <!--<td>Tasks</td>-->
                          <td>Teammates</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Reviewing
        </a>
      </div>

      <div class="section-content">
        <% @reviewing_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <!--<td><%#= @tasks_count %></td>-->
                          <td><%= task.number_of_participants%> / <%= task.target_number_of_participants %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <!--<td>Tasks</td>-->
                          <td>Teammates</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="trello-column">
    <div class="trello-section">
      <div class="section-header">
        <a href="javascript:void(0)">
          Done
        </a>
      </div>

      <div class="section-content">
        <% @done_tasks.each do |task| %>
            <%= link_to projects_show_task_path(id: task.id), class:'pr-card', data: { task_id: task.id }, remote: true do %>
                <div class="trello-cards">
                  <div class="card-wrapper">

                    <div class="card-title">
                      <h5><%= task.title %></h5>
                      <p><%= task.description %></p>
                    </div>
                    <div class="comment-wrapper">
                      <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                      <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                      </div>
                    </div>

                    <div class="card-report">
                      <table>
                        <tr class="value">
                          <td><%= task.funded %></td>
                          <!--<td><%#= @tasks_count %></td>-->
                          <td><%= task.number_of_participants %> / <%= task.target_number_of_participants %></td>
                          <td><%= task.funded_in_btc %></td>
                        </tr>
                        <tr class="items">
                          <td>Funded</td>
                          <!--<td>Tasks</td>-->
                          <td>Teammates</td>
                          <td>Raised</td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
