<h5><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Activity</h5>
<% @activities.each do |activity | %>
  <div class="activity-block">
    <div >
      <% if activity.user.picture? %><%= link_to (image_tag activity.user.picture, :size => "30x30"), activity.user  %>
      <%else%>
          <%= gravatar_for_user(activity.user) %>
      <%end%>
      <p style = "display: inline-block" ><%= get_activity_detail(activity)%></p><p style = "display: inline-block"><%= activity.user.name %></p>
      <br><h6><%= "#{activity.created_at.strftime(" %b %d , %Y ")} " %></h6>
      <!--<a href="#">Reply</a>-->
    </div>
  </div>
  <br>
<%end %>
 