<div id="InviteModel" class="modal modal-invite modal-default" tabindex="-1">

  <!-- Modal content -->
  <div class="modal-content2 yes modal-default__content">
    <button id="inviteclose" class="modal-default__close"></button>
    <h4 class="modal-default__title">Add / Invite People</h4>
    <h6 class="modal-invite__subtitle">Type in the e-mail address of the person you like to invite</h6>
    <%= form_tag(:controller => "tasks", :action => "send_email") do %>
      <div class="f-default__joined">
        <div class="f-default__joined-col _wide">
          <input type="hidden" name="task_id" value="<%= @task.id %>">
          <input type="email" name="email" placeholder="E-mail address" class="f-default__field _joined-left">
        </div>
        <div class="f-default__joined-col _narrow">
          <button class="btn-root _joined-right _dark">Add / Invite</button>
        </div>
      </div>

      <span class="modal-invite__or">OR</span>

      <div class="l-share" data-title="<%= @task.title %> :" data-url="<%= task_url(@task.id) %>" data-img="" data-desc="" data-popup="" data-via="">
        <ul class="l-share__list">
          <li class="l-share__item" data-title="<%= @task.title %> :" get-url-from-location="true">
            <a class="btn-share" href="#" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);">
              <i class="fa fa-facebook"></i>
              <span>Share on Facebook</span>
            </a>
          </li>
          <li class="l-share__item" data-title="<%= @task.title %> :" get-url-from-location="true">
            <a class="btn-share" rel="nofollow " data-site="twitter" title="Share to Twitter" href="#" onclick="return SocialShareButton.share(this);">
              <i class="fa fa-twitter"></i>
              <span>Share on twitter</span>
            </a>
          </li>
          <li class="l-share__item" data-title="<%= @task.title %>" get-url-from-location="true">
            <a class="btn-share" rel="nofollow " data-site="google_plus" class="social-share-button-google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#">
              <i class="fa fa-google-plus"></i>
              <span>Share on Google Plus</span>
            </a>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div id="myModal" class="modal-task modal-default" tabindex="-1">
  <!-- Modal content -->
  <div class="modal-content modal-task__content">
    <button id="task-popup-close" type="button" class="modal-default__close"></button>
    <div class="task-details">
        <div id="task-related-messages"></div>
        <div class="modal-task__title-wrap">
          <h2 class="modal-default__title" id="task-title"><%= @task.title %></h2>
          <% if user_signed_in? && ((@task.suggested_task? && (current_user.id == @task.user_id || current_user.id == @task.project.user_id)) || (@task.is_executer(current_user.id) || current_user.id == @task.project.user_id)) %>
              <a href="#" id="edit-title" class="btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <%= form_for @task, :remote => true, html: {id: "task-update-title-form", class: "hide-input"} do |f| %>
                  <%= f.text_field :title, id: "input-task-title" %>
                  <button name="button" type="submit" id="task-update-title">save</button>
                  <button type="reset" id="cancel-title">cancel</button>
              <% end %>
          <% end %>
        </div>

        <div class="modal-task__flex">
          <div class="modal-task__content-side">

            <% if user_signed_in? && (
            (@task.suggested_task? &&(current_user.id == @task.user_id || current_user.id == @task.project.user_id)) ||(@task.is_executer(current_user.id) || current_user.id == @task.project.user_id)) %>

                <div class="task-desc">
                  <div class="modal-task__desc-block">
                    <h4>Task Description</h4>
                    <a href="#" id="edit-description" class="btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <p class="task-proof" id="task-description"><%= @task.description %></p>
                    <%= form_for @task, :remote => true, html: {id: "task-update-description-form", class: "hide-input"} do |f| %>
                        <%= f.text_area :description, id: "input-task-description" %>
                        <button name="button" type="submit" id="task-update-description">save</button>
                        <button type="reset" id="cancel-description">cancel</button>
                    <% end %>
                  </div>

                  <div class="modal-task__desc-block">
                    <h4>Condition of Execution</h4>
                    <a href="#" id="edit-condition" class="btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <p class="task-proof" id="task-condition"><%= @task.condition_of_execution %></p>
                    <%= form_for @task, :remote => true, html: {id: "task-update-condition-form", class: "hide-input"} do |f| %>
                        <%= f.text_area :condition_of_execution, id: "input-task-condition" %>
                        <button name="button" type="submit" id="task-update-condition">save</button>
                        <button type="reset" id="cancel-condition">cancel</button>
                    <% end %>
                  </div>

                  <div class="modal-task__desc-block">
                    <h4>Proof of Execution</h4>
                    <a href="#" id="edit-proof" class="btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <p class="task-proof" id="task-proof"><%= @task.proof_of_execution %></p>
                    <%= form_for @task, :remote => true, html: {id: "task-update-proof-form", class: "hide-input"} do |f| %>
                        <%= f.text_area :proof_of_execution, id: "input-task-proof" %>
                        <button name="button" type="submit" id="task-update-proof">save</button>
                        <button type="reset" id="cancel-proof">cancel</button>
                    <% end %>
                    <hr>
                  </div>

                  <%= render ("projects/task_comment") %>
                  <div class="comments-block">
                    <% if user_signed_in? %>
                        <div class="post-person">
                          <% if current_user.picture? %>
                              <%= image_tag(current_user.picture, size: "30x30") %>
                          <% else %>
                              <%= gravatar_for_user(current_user) %>
                          <% end %>
                        </div>
                        <%= form_for [@task.project, @task, @task.task_comments.build], remote: true, html: {id: 'comment-form'} do |f| %>
                            <div class="post-comment">
                              <%= f.text_area :body %>
                              <%= f.hidden_field :task_id, value: @task.id %>
                              <%= f.file_field :attachment, id: 'task-comment-attachment', style: "display: none" %>
                              <%= f.hidden_field :user_id, value: current_user.id %>
                              <button type="submit" name="commit" value="Send"> Send</button>
                              &nbsp;&nbsp;
                              <a href="#" id="task-comment-attachment-icon"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                              <div id="attachment-div"></div>
                            </div>
                        <% end %>
                    <% end %>
                  </div>
                </div>
            <% else %>
                <div class="task-desc">
                  <h4>Task Description</h4>
                  <p><%= @task.description %></p>
                  <h4>Condition of Execution</h4>
                  <p><%= @task.condition_of_execution %></p>
                  <h4>Proof of Execution</h4>
                  <p><%= @task.proof_of_execution %></p>
                  <hr>
                  <%= render ("projects/task_comment") %>
                  <div class="comments-block">
                    <% if user_signed_in? %>
                        <%= form_for [@task.project, @task, @task.task_comments.build], remote: true, html: {id: 'comment-form'} do |f| %>
                            <div class="post-comment">
                              <%= f.text_area :body %>
                              <%= f.hidden_field :task_id, value: @task.id %>
                              <%= f.file_field :attachment, id: 'task-comment-attachment', style: "display: none" %>

                              <%= f.hidden_field :user_id, value: current_user.id %>
                              <button type="submit" name="commit" value="Send"> Send</button>
                              &nbsp;&nbsp;
                              <a href="#" id="task-comment-attachment-icon"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                              <div id="attachment-div"></div>
                            </div>
                        <% end %>
                    <% end %>
                  </div>
                </div>
            <% end %>
            <div class="activity" id="task-activity">
              <%= render "projects/task_activities" %>
            </div>
            </div>




              <div class="modal-task__controls-side">
                <div class="fund">
                  <% unless @task.suggested_task? %>
                      <button type="button" title="FUND" class="btn-root" onclick="fundPopup(<%= @task.id %>)" id="<%= @task.id %>" data-modal="#taskFundModal">Fund</button>
                      <button type="button" title="DO" class="btn-root _dark _do-model-popup" id="<%= @task.id %>" onclick="doPopup(<%= @task.id %>)" data-modal="#taskDoModal">DO</button>
                  <% else %>
                      <button type="button" title="FUND" class="btn-root" data-modal="#suggested_task_model_for_fund">Fund</button>
                      <button type="button" title="FUND" class="btn-root _dark" data-modal="#suggested_task_model_for_fund">DO</button>
                  <% end %>

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @task.funded %>">
                    </div>
                  </div>

                  <div class="card-report">
                    <table>
                      <tr class="value">
                        <td><%= @task.funded %></td>
                        <!--<td><%#= @task.number_of_participants %>/<%= @task.target_number_of_participants %></td>-->
                        <td><%= @task.number_of_participants %>/<%= @task.target_number_of_participants %></td>
                        <td><%= @task.funded_in_btc %></td>
                      </tr>
                      <tr class="items">
                        <td>Funded</td>
                        <!--<td>Team</td>-->
                        <td>Teammates</td>
                        <td>Raised</td>
                      </tr>
                    </table>
                  </div>

                  <div class="team-block mb30">
                    <h5>Team</h5>
                    <% for i in 1..5 %>
                        <%= image_tag("no_image.png") %>
                    <% end %>
                  </div>

              <div class="deadline-block">
                <h5>Deadline</h5>
                <div class="deadline-group">
                    <div class="form-group">
                        <div class='input-group date' id='deadline_editor'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                            <input type='text' name="task[deadline]" class="form-control" id="deadline_field" required="required" aria-required="true" placeholder='<%= @task.deadline.strftime("%Y-%m-%d %I:%M %p") %>' />
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#deadline_editor').datetimepicker({
                                viewMode: 'years',
                                format: 'YYYY-MM-DD hh:mm A'
                            });
                        });
                    </script>
                </div>
              </div>

              <!-- <h6>Funded :
                <span class="light-blue">$<%= @task.current_fund + curent_bts_to_usd(@task.id) rescue 0.0 %></span> /
                Needed : <span>$<%= @task.budget %></span></h6>
              <h6>Teammates:<span class="light-blue"><%= @task.number_of_participants rescue 0 %></span> / Needed : -->
            </div>

            <hr>
            <div class="wallet-block mb20">
              <h5>Task Specific Bit Coin Address:</h5>
              <p id='fe_text'><%= @task.wallet_address.sender_address rescue 'Available soon' %></p>
            </div>
            <hr>

                <div class="approve-block mb20">
                  <% if user_signed_in? && (current_user.id == @task.project.user_id && @task.suggested_task?) %>
                      <a href="javascript:void(0)" class="approve-link mb10" id="approveTaskPopover" tabindex="0" data-trigger="focus" data-placement="top">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;
                        Approve
                      </a>
                  <% end %>
                  <% if user_signed_in? && (@task.suggested_task? && (current_user.id == @task.user_id || @task.is_executer(current_user.id) || current_user.id == @task.project.user_id)) %>
                      <a href="<%= reject_task_path(@task.id) %>" class="approve-link">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;
                        Delete Task
                      </a>
                  <% end %>
                  <% if user_signed_in? && (@task.accepted? && (@task.is_executer(current_user.id) || current_user.id == @task.project.user_id)) %>
                      <%= link_to doing_task_path(@task.id), class: "approve-link" do %>
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;
                          Start
                      <% end %>
                  <% end %>
                </div>

                <div class="button-group">
                  <div class="btn-left">
                    <% if user_signed_in? && ((@task.suggested_task? && current_user.id == @task.user_id) || (@task.is_team_member(current_user.id) || current_user.id == @task.project.user_id)) %>
                        <%= form_for @task_attachment, :url => url_for(:controller => 'task_attachments', :action => 'create'), :remote => true, html: {multipart: true} do |f| %>
                            <%= f.hidden_field :task_id, :value => @task.id %>
                            <!--<input type="file" name="task_attachment[attachment]" id="file1" style="display: none;">-->
                            <input type="file" name="task_attachment[attachment]" id="file1"/>
                            <button type="button" class="attachment">
                              <i class="fa fa-paperclip" aria-hidden="true"></i>Add attachment
                            </button>
                            <%= f.submit "upload", class: "btn btn-primary", id: "upload-button" %>
                        <% end %>
                    <% end %>
                    <button id="invbtn" data-modal="#InviteModel"><i class="fa fa-users" aria-hidden="true"></i>Invite</button>
                    <% if user_signed_in? %>
                        <% if @task.doing? && (@task_memberships.collect(&:team_member_id).include? current_user.id) %>
                            <%= link_to reviewing_task_path(@task.id) do %>
                                <button>
                                  <i class="fa fa-check" aria-hidden="true"></i>Submit for Review
                                </button>
                            <% end %>
                        <% end %>
                        <% if current_user.id == @task.project.user_id && @task.reviewing? %>
                            <%= link_to completed_task_path(@task.id), data: {confirm: 'do you confirm that you have reviewed the task and that it is completed?'} do %>
                                <button>
                                  <i class="fa fa-check" aria-hidden="true"></i>Mark As Completed
                                </button>
                            <% end %>
                        <% end %>
                    <% end %>

                    <button id="sharebtn"><i class="fa fa-share" aria-hidden="true"></i>Share</button>
                    <!-- <button id="teambtn"><i class="fa fa-user" aria-hidden="true"></i>Teams</button> -->
                    <% if user_signed_in? && @task.accepted? && (current_user.id == @task.project.user_id || @task.is_executer(current_user.id)) %>
                        <%= link_to @task, method: :delete, data: {confirm: 'Are you sure?'} do %>
                            <button>
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                              Delete Task
                            </button>
                        <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="attachments" id="task-attachments-div">
                  <h5>Attachments</h5>
                  <% @task_attachments.each do |attachment| %>
                      <div class="attachment">
                        <!--<iframe src="<%#= attachment.attachment_url %>" width="90" height="90" scrolling="no">-->
                        <!--</iframe>-->
                        <!--<img src="http://placehold.it/150x150">-->
                        <% if %w{jpg png jpg gif bmp}.include?(attachment.attachment.file.extension) %>
                            <%= image_tag attachment.attachment.url, style: "width:90px ; height:90px" %>

                        <% else %>
                            <img src="http://placehold.it/150x150">

                        <% end %>
                        <h4><%= attachment.attachment.file.filename %></h4>
                        <span>Added <%= attachment.created_at.strftime("%b  %d,%Y %r") %></span><br>
                        <div class="attachment-actions">
                          <%= link_to "Open", attachment.attachment_url, target: '_blank' %>
                          <% if user_signed_in? && ((@task.suggested_task? && current_user.id == @task.user_id) || (@task.is_executer(current_user.id) || current_user.id == @task.project.user_id)) %>

                              <a href="#" name="delete_attachment" id="<%= attachment.id %>">X Remove</a>
                          <% end %>
                        </div>
                      </div>
                      <hr>
                  <% end %>
                </div>
              </div>
            </div> <!--row ends -->


        </div>

    </div>
    </div>
  </div>

    <!-- Task Details Window -->

    <div id="team" class="modal">

      <!-- Modal content -->
      <div class="modal-content2 yes">
        <b> <span id="teamclose" class="close">×</span></b>
        <div class="fund-do">
          <div class="row">
            <center><h4 id="task-members-container" task-id="<%= @task.id %>">Team</h4>
              <p id="team-message"></p>
              <% @task_memberships.each do |team_membership| %>
                  <div id="task-membership-<%= team_membership.id %>" style="width:200px;height: 50px;background-color: #dddddd;margin: 5px;padding-top:8px;">
                    <% if user_signed_in? && (current_user.id == @task.project.user.id || ((!@project_admin.blank?) &&(@project_admin.include? current_user.id))) %>
                        <b>
                          <span class="delete-task-member" task-membership-id="<%= team_membership.id %>" class="close">×</span>
                        </b>
                    <% end %>
                    <% if team_membership.team_member.picture? %>
                        <%= image_tag(team_membership.team_member.picture, size: "35x35") %>
                    <% else %>
                        <%= gravatar_for(team_membership.team_member, 35) %>
                    <% end %>
                    <%= link_to team_membership.team_member.name, user_path(team_membership.team_member) %>
                  </div>
              <% end %></center>
          </div> <!--row ends -->

        </div> <!-- task details ends -->
      </div>

</div>
<div id="share" class="modal modal-share modal-default" tabindex="-1">
  <div class="modal-content2 yes modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <div class="l-share" data-title="<%= @task.title %> :" data-url="<%= task_url(@task.id) %>" data-img="" data-desc="" data-popup="" data-via="">
      <ul class="l-share__list">
        <li class="l-share__item" data-title="<%= @task.title %> :" get-url-from-location="true">
          <a class="btn-share" href="#" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);">
            <i class="fa fa-facebook"></i>
            <span>Share on Facebook</span>
          </a>
        </li>
        <li class="l-share__item" data-title="<%= @task.title %> :" get-url-from-location="true">
          <a class="btn-share" rel="nofollow " data-site="twitter" title="Share to Twitter" href="#" onclick="return SocialShareButton.share(this);">
            <i class="fa fa-twitter"></i>
            <span>Share on twitter</span>
          </a>
        </li>
        <li class="l-share__item" data-title="<%= @task.title %>" get-url-from-location="true">
          <a class="btn-share" rel="nofollow " data-site="google_plus" class="social-share-button-google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#">
            <i class="fa fa-google-plus"></i>
            <span>Share on Google Plus</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

    <% if user_signed_in? && (current_user.id == @task.project.user_id && @task.suggested_task?) %>

        <div id="approveTaskPopoverTitle" class="hidden">
          <b>Are you sure?</b>
        </div>

        <div id="approveTaskPopoverContent" class="hidden">
          <div class="popover-content">
            <p>Are you sure want to approve this task?</p>
            <p>This is a irreversible action.</p>
            <div class="approve-btns mt10">
              <a href=<%= accept_task_path(@task.id) %> title="approve">
                <i class="fa fa-check"></i>Yes, approve
              </a>
              <a href="<%= reject_task_path(@task.id) %>" title="cancel" onclick="$(&quot;#approveTaskPopover&quot;).popover(&quot;hide&quot;)">
                No
              </a>
            </div>
          </div>
        </div>
        <script>
          $("#approveTaskPopover").popover({
            html: true,
            content: function () {
              return $("#approveTaskPopoverContent").html();
            },
            title: function () {
              return $("#approveTaskPopoverTitle").html();
            }
          });
        </script>
    <% end %>
    <script type="text/javascript">
      JsonFormsHelper.InitializeTaskMembersControls();
    </script>
