<div class="row comment-box" data-id="<%= profile_comment.id %>">
  <div class="medium-2 columns">
    <% if profile_comment.commenter.picture? %>
      <a href=<%="/users/#{comment.commenter_id}"%>><%= image_tag(profile_comment.commenter.picture, size: "69x69") %></a>
    <% else %>
      <a href=<%="/users/#{profile_comment.commenter_id}"%>><%= gravatar_for(profile_comment.commenter, 69)%></a>
    <%end%>
    <span class="name"><%= profile_comment.commenter.name %></span>
  </div>
  <div class="medium-10 columns">
    <p><%= profile_comment.comment_text %></p>
    <span class="date"><%= profile_comment.created_at.strftime('%B %Y') %></span>
  </div>
</div>
