<div id="side-menu-id" class="side-menu m-cabinet">

  <ul class="side-nav">
    <li class="m-cabinet__item <%= active_class(my_projects_path(current_user)) %>">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <%= link_to 'My Projects', my_projects_path %>
    </li>

    <li class="m-cabinet__item <%= active_class(group_messages_path) %>">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <a href="/group_messages">Messages</a>
    </li>

    <li class="m-cabinet__item <%= active_class(notifications_path) %>">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
      <a href="/notifications">Notifications</a>
    </li>

    <li class="m-cabinet__item <%= active_class("/users/#{current_user.id}/my_wallet") %>">
      <i class="fa fa-btc" aria-hidden="true"></i>
      <a href="/users/<%= current_user.id %>/my_wallet">My wallet</a>
    </li>

    <li class="m-cabinet__item <%= active_class(user_path(current_user)) %>">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= link_to 'Profile', user_path(current_user) %>
    </li>

  </ul>
</div>
