<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WeServe.io" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "WeServe.io" %>">
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyArO4kJXYuWNWA47l20aDlstpi1oFA9f7A&&libraries=places"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <%= yield :customhead %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1204824659546785',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= render 'layouts/noindex' %>

    <div class="page-wrapper">

      <%= render 'layouts/menu' %>
      <%= render 'layouts/messages' %>

      <div id="projects-search-results">
        <div id="error-message-show"></div>
        <%= yield %>
      </div>

      <%= render "modal/register_modal" %>
      <%= render "modal/start_project_modal" %>
      <%= render "modal/project_signup_modal" %>

    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
