<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');

  $(function () {
    var $form = $('#payment-form');
    $form.submit(function (event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.js-submit-cc').prop('disabled', true);

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.modal-fund__payment-errors').text(response.error.message);
      $form.find('.js-submit-cc').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  }
  ;
</script>

 <!--If You want a new page for card payment then use  <%#= card_payment_project_task_path %> in action instead of / on popup
 i call JQuery function to fill the action path  -->
<%#= card_payment_project_task_path %>

<form action="/" method="POST" id="payment-form">

  <input type="hidden" class="js-amount" name="amount"/>
  <input type="hidden" class="js-card-number" size="20" data-stripe="number"/>
  <input type="hidden" size="20" data-stripe="exp_month"/>
  <input type="hidden" size="20" data-stripe="exp_year"/>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%#= hidden_field_tag :wallet_transaction_user_wallet,  @task.wallet_address.sender_address %>

    <div class="modal-fund__stripe-bottom">
      <div class="modal-fund__stripe-bottom-inner">
        <label class="f-default__radio-label">
          <input class="f-default__radio-field" name="method" type="radio"/>
          <span class="f-default__radio-pseudo"></span>
          <span class="f-default__radio-text">ending in (expires 00/)</span>
        </label>
        <br/>
        <label class="f-default__radio-label">
          <input class="f-default__radio-field" name="method" type="radio"/>
          <span class="f-default__radio-pseudo"></span>
          <span class="f-default__radio-text">Use a new payment method</span>
        </label>
        <div class="f-default__row">
          <div class="f-default__label-wrap">
            <label class="f-default__label" for="card_number">Card Number</label>
            <div class="js-hidden_card"></div>
            <input type="tel" autocomplete="off" id="card_number" name="cardNumber" class="f-default__field" placeholder="•••• •••• •••• ••••" required/>

            <span class="f-default__card-wrap">
              <%= image_tag('payments/dc-pay@2x.png', class:"_dc") %>
              <%= image_tag('payments/jcb-pay@2x.png', class:"_jcb") %>
              <%= image_tag('payments/discover-pay@2x.png', class:"_discover") %>
              <%= image_tag('payments/ae-pay@2x.png', class:"_ae") %>
              <%= image_tag('payments/mc-pay@2x.png', class:"_mc") %>
              <%= image_tag('payments/visa-pay@2x.png', class:"_visa") %>
              <!--<svg focusable="false" version="1.1" class="svg-visa">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-visa"></use>
              </svg>-->
            </span>
          </div>
        </div>
        <div class="f-default__row _flex">
          <div class="f-default__label-wrap _grow">
            <label class="f-default__label" for="card_expiry">Expiry (MM/YYYY)</label>
            <input type="tel" autocomplete="off" id="card_expiry" name="cardExpiry" maxlength="9" class="f-default__field" placeholder="MM/YYYY" required/>
          </div>
          <div class="f-default__label-wrap">
            <label class="f-default__label" for="card_code">Card code</label>
            <input type="tel" autocomplete="off" id="card_code" name="cardCvc" class="f-default__field _cvc" placeholder="CVC" maxlength="4" data-stripe="cvc" required/>
            <button class="modal-fund__cvc-info btn-reset">What is CVC?</button>
          </div>
        </div>
        <label class="f-default__checkbox-label">
          <input class="f-default__checkbox-field" name="method" type="checkbox"/>
          <span class="f-default__checkbox-pseudo"></span>
          <span class="f-default__checkbox-text">Save to Account</span>
        </label>
        <br/>
        <label class="f-default__checkbox-label">
          <input class="f-default__checkbox-field" name="method" type="checkbox"/>
          <span class="f-default__checkbox-pseudo"></span>
          <span class="f-default__checkbox-text">I've read and accept the <a href='#'><b>terms & conditions</b></a></span>
        </label>

        <span class="modal-fund__payment-errors"></span>

        <div class="f-default__info-message">
            For USD payments WeServe.io deduce 5% fee from the resulting BTC amount that will be send to the task wallet from the reserve wallet.
        </div>

        <script>
          // https://github.com/jessepollak/card
          new Card({
            // a selector or DOM element for the form where users will
            // be entering their information
            form: '#taskFundModal', // *required*
            // a selector or DOM element for the container
            // where you want the card to appear
            container: '.js-hidden_card', // *required*

            formSelectors: {
                numberInput: '[name="cardNumber"]',
                expiryInput: '[name="cardExpiry"]',
                cvcInput: '[name="cardCvc"]'
            }
          });
        </script>
      </div>
    </div>

  <button class="btn-root _donate _dark js-submit-cc">Donate - $<span class="modal-fund__donate-value js-usd-value">0.00</span></button>
</form>

